In [1]:
print("Hola a todos")

Hola a todos

In [3]:
print("con la letra a insetas una celda hacia arriba")

con la letra a insetas una celda hacia arriba

In [4]:
print("con la lectra b insertar una celda hacia abajo")

con la lectra b insertar una celda hacia abajo

In [7]:
numbers = [1, 2, 3, 4, 5, 6]

for number in numbers:
    print(number)

1
2
3
4
5
6

In [8]:
numbers = [1, 2, 3, 4, 5, 6]
even_number = []
for number in numbers:
    if(number %2 == 0):
        even_number.append(number)

print(even_number)

[2, 4, 6]

In [12]:
planets = ["sol", "tierra", "marte", "jupiter" ]
for planet in planets:
    if (planet == "sol"):
        print(planet, "es no es un planeta")
    else:
        print(planet, "este si es un planeta")

print(planet, "is closest to the Sun")

sol es no es un planeta
tierra este si es un planeta
marte este si es un planeta
jupiter este si es un planeta
jupiter is closest to the Sun

In [18]:
import csv
with open('iris.csv', 'r') as irisfiler:
    reader =csv.DictReader(irisfiler)

print(type((reader)))

<class 'csv.DictReader'>