In [3]:
import csv
my_file = open('C:/Users/Leydi/Documents/Python_scripts/iris.csv', 'r')
reader = csv.DictReader(my_file)
print(reader)

<csv.DictReader object at 0x00000256BCEB31D0>

In [8]:
import csvprint(reader.fieldnames)
with open('C:/Users/Leydi/Documents/Python_scripts/iris.csv', 'r') as csvfile:
reader = csv.DictReader(csvfile)

IndentationError: expected an indented block after 'with' statement on line 2 (3499292585.py, line 3)

In [9]:
print(reader.fieldnames)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [10]:
my_file = open('C:/Users/Leydi/Documents/PSIG/albumlist.csv', 'r')
reader = csv.DictReader(my_file)
print(reader)

<csv.DictReader object at 0x00000256BCEB3F80>

In [12]:
rows = 101

for row in reader:
    rows -= 1
    if (rows > 0):
        print(row)
    else:
        break

{'Number': '2', 'Year': '1966', 'Album': 'Pet Sounds', 'Artist': 'The Beach Boys', 'Genre': 'Rock', 'Subgenre': 'Pop Rock, Psychedelic Rock'}
{'Number': '3', 'Year': '1966', 'Album': 'Revolver', 'Artist': 'The Beatles', 'Genre': 'Rock', 'Subgenre': 'Psychedelic Rock, Pop Rock'}
{'Number': '4', 'Year': '1965', 'Album': 'Highway 61 Revisited', 'Artist': 'Bob Dylan', 'Genre': 'Rock', 'Subgenre': 'Folk Rock, Blues Rock'}
{'Number': '5', 'Year': '1965', 'Album': 'Rubber Soul', 'Artist': 'The Beatles', 'Genre': 'Rock, Pop', 'Subgenre': 'Pop Rock'}
{'Number': '6', 'Year': '1971', 'Album': "What's Going On", 'Artist': 'Marvin Gaye', 'Genre': 'Funk / Soul', 'Subgenre': 'Soul'}
{'Number': '7', 'Year': '1972', 'Album': 'Exile on Main St.', 'Artist': 'The Rolling Stones', 'Genre': 'Rock', 'Subgenre': 'Blues Rock, Rock & Roll, Classic Rock'}
{'Number': '8', 'Year': '1979', 'Album': 'London Calling', 'Artist': 'The Clash', 'Genre': 'Rock', 'Subgenre': 'Punk, New Wave'}
{'Number': '9', 'Year': '1966', 'Album': 'Blonde on Blonde', 'Artist': 'Bob Dylan', 'Genre': 'Rock, Blues', 'Subgenre': 'Folk Rock, Rhythm & Blues'}
{'Number': '10', 'Year': '1968', 'Album': 'The Beatles ("The White Album")', 'Artist': 'The Beatles', 'Genre': 'Rock', 'Subgenre': 'Rock & Roll, Pop Rock, Psychedelic Rock, Experimental'}
{'Number': '11', 'Year': '1976', 'Album': 'The Sun Sessions', 'Artist': 'Elvis Presley', 'Genre': 'Rock', 'Subgenre': 'Rock & Roll'}
{'Number': '12', 'Year': '1959', 'Album': 'Kind of Blue', 'Artist': 'Miles Davis', 'Genre': 'Jazz', 'Subgenre': 'Modal'}
{'Number': '13', 'Year': '1967', 'Album': 'The Velvet Underground & Nico', 'Artist': 'The Velvet Underground', 'Genre': 'Rock', 'Subgenre': 'Garage Rock, Art Rock, Experimental'}
{'Number': '14', 'Year': '1969', 'Album': 'Abbey Road', 'Artist': 'The Beatles', 'Genre': 'Rock', 'Subgenre': 'Psychedelic Rock, Classic Rock, Pop Rock'}
{'Number': '15', 'Year': '1967', 'Album': 'Are You Experienced', 'Artist': 'The Jimi Hendrix Experience', 'Genre': 'Rock, Blues', 'Subgenre': 'Blues Rock, Psychedelic Rock'}
{'Number': '16', 'Year': '1975', 'Album': 'Blood on the Tracks', 'Artist': 'Bob Dylan', 'Genre': 'Rock', 'Subgenre': 'Folk Rock, Acoustic, Ballad'}
{'Number': '17', 'Year': '1991', 'Album': 'Nevermind', 'Artist': 'Nirvana', 'Genre': 'Rock', 'Subgenre': 'Alternative Rock, Grunge'}
{'Number': '18', 'Year': '1975', 'Album': 'Born to Run', 'Artist': 'Bruce Springsteen', 'Genre': 'Rock', 'Subgenre': 'Pop Rock'}
{'Number': '19', 'Year': '1968', 'Album': 'Astral Weeks', 'Artist': 'Van Morrison', 'Genre': 'Jazz, Rock, Blues, Folk, World, & Country', 'Subgenre': 'Acoustic, Classic Rock, Free Improvisation'}
{'Number': '20', 'Year': '1982', 'Album': 'Thriller', 'Artist': 'Michael Jackson', 'Genre': 'Funk / Soul, Pop', 'Subgenre': 'Disco'}
{'Number': '21', 'Year': '1982', 'Album': 'The Great Twenty_Eight', 'Artist': 'Chuck Berry', 'Genre': 'Rock', 'Subgenre': 'Rock & Roll'}
{'Number': '22', 'Year': '1990', 'Album': 'The Complete Recordings', 'Artist': 'Robert Johnson', 'Genre': 'Blues', 'Subgenre': 'Delta Blues'}
{'Number': '23', 'Year': '1970', 'Album': 'John Lennon/Plastic Ono Band', 'Artist': 'John Lennon / Plastic Ono Band', 'Genre': 'Rock', 'Subgenre': 'Pop Rock'}
{'Number': '24', 'Year': '1973', 'Album': 'Innervisions', 'Artist': 'Stevie Wonder', 'Genre': 'Funk / Soul', 'Subgenre': 'Soul'}
{'Number': '25', 'Year': '1963', 'Album': 'Live at the Apollo, 1962', 'Artist': 'James Brown', 'Genre': 'Funk / Soul', 'Subgenre': 'Rhythm & Blues, Soul'}
{'Number': '26', 'Year': '1977', 'Album': 'Rumours', 'Artist': 'Fleetwood Mac', 'Genre': 'Rock', 'Subgenre': 'Pop Rock'}
{'Number': '27', 'Year': '1987', 'Album': 'The Joshua Tree', 'Artist': 'U2', 'Genre': 'Rock', 'Subgenre': 'Alternative Rock, Pop Rock'}
{'Number': '28', 'Year': '1971', 'Album': "Who's Next", 'Artist': 'The Who', 'Genre': 'Rock', 'Subgenre': 'Hard Rock, Mod, Prog Rock, Psychedelic Rock'}
{'Number': '29', 'Year': '1969', 'Album': 'Led Zeppelin', 'Artist': 'Led Zeppelin', 'Genre': 'Rock', 'Subgenre': 'Blues Rock, Hard Rock'}
{'Number': '30', 'Year': '1971', 'Album': 'Blue', 'Artist': 'Joni Mitchell', 'Genre': 'Pop', 'Subgenre': 'Acoustic, Ballad, Folk'}
{'Number': '31', 'Year': '1965', 'Album': 'Bringing It All Back Home', 'Artist': 'Bob Dylan', 'Genre': 'Rock, Folk, World, & Country', 'Subgenre': 'Folk Rock, Folk'}
{'Number': '32', 'Year': '1969', 'Album': 'Let It Bleed', 'Artist': 'The Rolling Stones', 'Genre': 'Rock', 'Subgenre': 'Blues Rock, Hard Rock'}
{'Number': '33', 'Year': '1976', 'Album': 'Ramones', 'Artist': 'Ramones', 'Genre': 'Rock', 'Subgenre': 'Rock & Roll, Punk'}
{'Number': '34', 'Year': '1968', 'Album': 'Music From Big Pink', 'Artist': 'The Band', 'Genre': 'Rock', 'Subgenre': 'Folk Rock, Acoustic, Blues Rock'}
{'Number': '35', 'Year': '1972', 'Album': 'The Rise and Fall of Ziggy Stardust and the Spiders From Mars', 'Artist': 'David Bowie', 'Genre': 'Rock', 'Subgenre': 'Classic Rock, Glam'}
{'Number': '36', 'Year': '1971', 'Album': 'Tapestry', 'Artist': 'Carole King', 'Genre': 'Rock, Pop', 'Subgenre': 'Folk Rock, Soft Rock'}
{'Number': '37', 'Year': '1976', 'Album': 'Hotel California', 'Artist': 'Eagles', 'Genre': 'Rock', 'Subgenre': 'Classic Rock'}
{'Number': '38', 'Year': '2001', 'Album': 'The Anthology', 'Artist': 'Muddy Waters', 'Genre': 'Folk, World, & Country', 'Subgenre': 'Folk'}
{'Number': '39', 'Year': '1963', 'Album': 'Please Please Me', 'Artist': 'The Beatles', 'Genre': 'Rock', 'Subgenre': 'Beat, Rock & Roll'}
{'Number': '40', 'Year': '1967', 'Album': 'Forever Changes', 'Artist': 'Love', 'Genre': 'Rock', 'Subgenre': 'Folk Rock, Psychedelic Rock'}
{'Number': '41', 'Year': '1977', 'Album': "Never Mind the Bollocks Here's the Sex Pistols", 'Artist': 'Sex Pistols', 'Genre': 'Rock', 'Subgenre': 'Punk'}
{'Number': '42', 'Year': '1967', 'Album': 'The Doors', 'Artist': 'The Doors', 'Genre': 'Rock', 'Subgenre': 'Psychedelic Rock'}
{'Number': '43', 'Year': '1973', 'Album': 'The Dark Side of the Moon', 'Artist': 'Pink Floyd', 'Genre': 'Rock', 'Subgenre': 'Prog Rock'}
{'Number': '44', 'Year': '1975', 'Album': 'Horses', 'Artist': 'Patti Smith', 'Genre': 'Rock', 'Subgenre': 'Art Rock'}
{'Number': '45', 'Year': '1969', 'Album': 'The Band ("The Brown Album")', 'Artist': 'The Band', 'Genre': 'Classical, Stage & Screen', 'Subgenre': 'Soundtrack, Modern Classical, Contemporary, Score'}
{'Number': '46', 'Year': '1984', 'Album': 'Legend: The Best of Bob Marley and The Wailers', 'Artist': 'Bob Marley & The Wailers', 'Genre': 'Reggae', 'Subgenre': 'Reggae, Roots Reggae'}
{'Number': '47', 'Year': '1965', 'Album': 'A Love Supreme', 'Artist': 'John Coltrane', 'Genre': 'Jazz', 'Subgenre': 'Free Jazz, Hard Bop, Modal'}
{'Number': '48', 'Year': '1988', 'Album': 'It Takes a Nation of Millions to Hold Us Back', 'Artist': 'Public Enemy', 'Genre': 'Hip Hop', 'Subgenre': 'Conscious'}
{'Number': '49', 'Year': '1971', 'Album': 'At Fillmore East', 'Artist': 'The Allman Brothers Band', 'Genre': 'Rock, Blues', 'Subgenre': 'Blues Rock'}
{'Number': '50', 'Year': '1957', 'Album': "Here's Little Richard", 'Artist': 'Little Richard', 'Genre': 'Rock, Blues', 'Subgenre': 'Rock & Roll, Rhythm & Blues'}
{'Number': '51', 'Year': '1970', 'Album': 'Bridge Over Troubled Water', 'Artist': 'Simon & Garfunkel', 'Genre': 'Rock', 'Subgenre': 'Folk Rock, Classic Rock'}
{'Number': '52', 'Year': '1975', 'Album': 'Greatest Hits', 'Artist': 'Al Green', 'Genre': 'Funk / Soul', 'Subgenre': 'Soul'}
{'Number': '53', 'Year': '1964', 'Album': 'Meet The Beatles!', 'Artist': 'The Beatles', 'Genre': 'Rock', 'Subgenre': 'Beat, Rock & Roll'}
{'Number': '54', 'Year': '1991', 'Album': 'The Birth of Soul', 'Artist': 'Ray Charles', 'Genre': 'Jazz, Funk / Soul', 'Subgenre': 'Rhythm & Blues, Big Band, Soul, Soul-Jazz'}
{'Number': '55', 'Year': '1968', 'Album': 'Electric Ladyland', 'Artist': 'The Jimi Hendrix Experience', 'Genre': 'Rock, Blues', 'Subgenre': 'Electric Blues, Psychedelic Rock'}
{'Number': '56', 'Year': '1956', 'Album': 'Elvis Presley', 'Artist': 'Elvis Presley', 'Genre': 'Rock', 'Subgenre': 'Rock & Roll, Rockabilly'}
{'Number': '57', 'Year': '1976', 'Album': 'Songs in the Key of Life', 'Artist': 'Stevie Wonder', 'Genre': 'Funk / Soul', 'Subgenre': 'Soul, Disco'}
{'Number': '58', 'Year': '1968', 'Album': 'Beggars Banquet', 'Artist': 'The Rolling Stones', 'Genre': 'Rock, Funk / Soul, Pop', 'Subgenre': 'Blues Rock, Southern Rock, Classic Rock'}
{'Number': '59', 'Year': '1976', 'Album': 'Chronicle: The 20 Greatest Hits', 'Artist': 'Creedence Clearwater Revival', 'Genre': 'Rock', 'Subgenre': 'None'}
{'Number': '60', 'Year': '1969', 'Album': 'Trout Mask Replica', 'Artist': 'Captain Beefheart & His Magic Band', 'Genre': 'Rock, Blues', 'Subgenre': 'Dialogue, Field Recording, Avantgarde, Electric Blues, Psychedelic Rock, Experimental'}
{'Number': '61', 'Year': '1970', 'Album': 'Greatest Hits', 'Artist': 'Sly & The Family Stone', 'Genre': 'Funk / Soul', 'Subgenre': 'Rhythm & Blues, Funk'}
{'Number': '62', 'Year': '1987', 'Album': 'Appetite for Destruction', 'Artist': "Guns N' Roses", 'Genre': 'Rock', 'Subgenre': 'Hard Rock, Heavy Metal'}
{'Number': '63', 'Year': '1991', 'Album': 'Achtung Baby', 'Artist': 'U2', 'Genre': 'Electronic, Rock', 'Subgenre': 'Pop Rock, Synth-pop, Alternative Rock, Arena Rock'}
{'Number': '64', 'Year': '1971', 'Album': 'Sticky Fingers', 'Artist': 'The Rolling Stones', 'Genre': 'Rock', 'Subgenre': 'Classic Rock'}
{'Number': '65', 'Year': '1991', 'Album': 'Back to Mono (1958-1969)', 'Artist': 'Phil Spector', 'Genre': 'Rock, Funk / Soul, Pop', 'Subgenre': 'Doo Wop, Pop Rock, Ballad, Rhythm & Blues'}
{'Number': '66', 'Year': '1970', 'Album': 'Moondance', 'Artist': 'Van Morrison', 'Genre': 'Jazz, Rock, Funk / Soul, Folk, World, & Country', 'Subgenre': 'Folk Rock, Rhythm & Blues, Classic Rock, Contemporary Jazz'}
{'Number': '67', 'Year': '2000', 'Album': 'Kid A', 'Artist': 'Radiohead', 'Genre': 'Electronic, Rock', 'Subgenre': 'Alternative Rock, IDM, Experimental'}
{'Number': '68', 'Year': '1979', 'Album': 'Off the Wall', 'Artist': 'Michael Jackson', 'Genre': 'Funk / Soul, Pop', 'Subgenre': 'Disco, Soul, Ballad'}
{'Number': '69', 'Year': '1971', 'Album': '[Led Zeppelin IV]', 'Artist': 'Led Zeppelin', 'Genre': 'Rock', 'Subgenre': 'Hard Rock, Classic Rock, Blues Rock'}
{'Number': '70', 'Year': '1977', 'Album': 'The Stranger', 'Artist': 'Billy Joel', 'Genre': 'Rock', 'Subgenre': 'Pop Rock'}
{'Number': '71', 'Year': '1986', 'Album': 'Graceland', 'Artist': 'Paul Simon', 'Genre': 'Jazz, Rock, Funk / Soul, Pop, Folk, World, & Country', 'Subgenre': 'Folk Rock, Pop Rock, African, Afrobeat, Zydeco, Funk, Rhythm & Blues'}
{'Number': '72', 'Year': '1972', 'Album': 'Superfly', 'Artist': 'Curtis Mayfield', 'Genre': 'Funk / Soul, Stage & Screen', 'Subgenre': 'Soundtrack, Soul'}
{'Number': '73', 'Year': '1975', 'Album': 'Physical Graffiti', 'Artist': 'Led Zeppelin', 'Genre': 'Rock', 'Subgenre': 'Classic Rock'}
{'Number': '74', 'Year': '1970', 'Album': 'After the Gold Rush', 'Artist': 'Neil Young', 'Genre': 'Rock', 'Subgenre': 'Rock & Roll, Country Rock'}
{'Number': '75', 'Year': '1991', 'Album': 'Star Time', 'Artist': 'James Brown', 'Genre': 'Funk / Soul', 'Subgenre': 'Soul, Funk, Disco'}
{'Number': '76', 'Year': '1984', 'Album': 'Purple Rain', 'Artist': 'Prince and the Revolution', 'Genre': 'Electronic, Rock, Funk / Soul, Stage & Screen', 'Subgenre': 'Pop Rock, Funk, Soundtrack, Synth-pop'}
{'Number': '77', 'Year': '1980', 'Album': 'Back in Black', 'Artist': 'AC/DC', 'Genre': 'Rock', 'Subgenre': 'Hard Rock'}
{'Number': '78', 'Year': '1965', 'Album': 'Otis Blue: Otis Redding Sings Soul', 'Artist': 'Otis Redding', 'Genre': 'Funk / Soul', 'Subgenre': 'Soul'}
{'Number': '79', 'Year': '1969', 'Album': 'Led Zeppelin II', 'Artist': 'Led Zeppelin', 'Genre': 'Rock', 'Subgenre': 'Blues Rock, Classic Rock, Hard Rock'}
{'Number': '80', 'Year': '1971', 'Album': 'Imagine', 'Artist': 'John Lennon', 'Genre': 'Rock', 'Subgenre': 'Pop Rock'}
{'Number': '81', 'Year': '1977', 'Album': 'The Clash', 'Artist': 'The Clash', 'Genre': 'Rock', 'Subgenre': 'Punk'}
{'Number': '82', 'Year': '1972', 'Album': 'Harvest', 'Artist': 'Neil Young', 'Genre': 'Rock', 'Subgenre': 'Folk Rock, Country Rock, Classic Rock'}
{'Number': '83', 'Year': '1967', 'Album': 'Axis: Bold as Love', 'Artist': 'The Jimi Hendrix Experience', 'Genre': 'Rock', 'Subgenre': 'Psychedelic Rock, Electric Blues'}
{'Number': '84', 'Year': '1967', 'Album': 'I Never Loved a Man the Way I Love You', 'Artist': 'Aretha Franklin', 'Genre': 'Funk / Soul', 'Subgenre': 'Soul'}
{'Number': '85', 'Year': '1968', 'Album': 'Lady Soul', 'Artist': 'Aretha Franklin', 'Genre': 'Funk / Soul', 'Subgenre': 'Soul'}
{'Number': '86', 'Year': '1984', 'Album': 'Born in the U.S.A.', 'Artist': 'Bruce Springsteen', 'Genre': 'Rock', 'Subgenre': 'Pop Rock'}
{'Number': '87', 'Year': '1979', 'Album': 'The Wall', 'Artist': 'Pink Floyd', 'Genre': 'Rock', 'Subgenre': 'Alternative Rock, Prog Rock'}
{'Number': '88', 'Year': '1968', 'Album': 'At Folsom Prison', 'Artist': 'Johnny Cash', 'Genre': 'Folk, World, & Country', 'Subgenre': 'Country'}
{'Number': '89', 'Year': '1969', 'Album': 'Dusty in Memphis', 'Artist': 'Dusty Springfield', 'Genre': 'Rock, Funk / Soul', 'Subgenre': 'Pop Rock, Soul'}
{'Number': '90', 'Year': '1972', 'Album': 'Talking Book', 'Artist': 'Stevie Wonder', 'Genre': 'Funk / Soul', 'Subgenre': 'Soul, Funk'}
{'Number': '91', 'Year': '1973', 'Album': 'Goodbye Yellow Brick Road', 'Artist': 'Elton John', 'Genre': 'Rock', 'Subgenre': 'Pop Rock, Classic Rock'}
{'Number': '92', 'Year': '1978', 'Album': '20 Golden Greats', 'Artist': 'Buddy Holly', 'Genre': 'Rock', 'Subgenre': 'Rock & Roll'}
{'Number': '93', 'Year': '1987', 'Album': 'Sign "Peace" the Times', 'Artist': 'Prince', 'Genre': 'Rock, Reggae', 'Subgenre': 'Ska, Reggae-Pop'}
{'Number': '94', 'Year': '1984', 'Album': '40 Greatest Hits', 'Artist': 'Hank Williams', 'Genre': 'Folk, World, & Country', 'Subgenre': 'Country'}
{'Number': '95', 'Year': '1970', 'Album': 'Bitches Brew', 'Artist': 'Miles Davis', 'Genre': 'Jazz', 'Subgenre': 'Fusion'}
{'Number': '96', 'Year': '1969', 'Album': 'Tommy', 'Artist': 'The Who', 'Genre': 'Rock', 'Subgenre': 'Psychedelic Rock'}
{'Number': '97', 'Year': '1963', 'Album': "The Freewheelin' Bob Dylan", 'Artist': 'Bob Dylan', 'Genre': 'Folk, World, & Country', 'Subgenre': 'Folk'}
{'Number': '98', 'Year': '1978', 'Album': "This Year's Model", 'Artist': 'Elvis Costello', 'Genre': 'Rock', 'Subgenre': 'New Wave'}
{'Number': '99', 'Year': '1971', 'Album': "There's a Riot Goin' On", 'Artist': 'Sly & The Family Stone', 'Genre': 'Funk / Soul', 'Subgenre': 'Rhythm & Blues, Funk'}
{'Number': '100', 'Year': '1968', 'Album': 'Odessey and Oracle', 'Artist': 'The Zombies', 'Genre': 'Rock', 'Subgenre': 'Psychedelic Rock'}
{'Number': '101', 'Year': '1955', 'Album': 'In the Wee Small Hours', 'Artist': 'Frank Sinatra', 'Genre': 'Jazz, Pop', 'Subgenre': 'Big Band, Ballad'}

In [13]:
albums = []
for row in reader:
    albums.append(row)

print("Number albums:", len(albums))

Number albums: 398

In [17]:
albums_sorted = sorted(albums, key = lambda x: x['Artist'])

In [20]:
def is_valid_year(string):
    try:
        year = int(string)
    except ValueError:
        return False
    else:
        return year

In [22]:
release_years = [int(row["Year"]) for row in albums if (is_valid_year(row["Year"]))]
print(release_years)

[1959, 1970, 1962, 1977, 2003, 1971, 1966, 1970, 1995, 1966, 1974, 1967, 1967, 1965, 1970, 2005, 1960, 1968, 1969, 1972, 1986, 1967, 1971, 1973, 1967, 1973, 1980, 1977, 1970, 1977, 1973, 1994, 1992, 1974, 1985, 1992, 1974, 1978, 1965, 1963, 1968, 1988, 1977, 1967, 1970, 1973, 1969, 1978, 2004, 1979, 1991, 1958, 1980, 1989, 1980, 1975, 1975, 1971, 1968, 1997, 1982, 2002, 1973, 1982, 1986, 1977, 1977, 1970, 1968, 1971, 1972, 1976, 1970, 1976, 1978, 1992, 2001, 1965, 1974, 1975, 1975, 1990, 1969, 1973, 1986, 1967, 1969, 1969, 1970, 1969, 1994, 1972, 1966, 1998, 1983, 1967, 2001, 1979, 1994, 1966, 1987, 2006, 1968, 1980, 1970, 1970, 1991, 1969, 1975, 1994, 1981, 1991, 1973, 1986, 1961, 1986, 1986, 1970, 1991, 1972, 1983, 1999, 2004, 1982, 1989, 1987, 1975, 1989, 1975, 1972, 1965, 1968, 2000, 1992, 1965, 1962, 1989, 1972, 1984, 1984, 1970, 2000, 1993, 1966, 1969, 1959, 1992, 1996, 1977, 2001, 1980, 1966, 1991, 1977, 1985, 1968, 1997, 1978, 1970, 1969, 1988, 1970, 1959, 1968, 1973, 1972, 1985, 1978, 1965, 1997, 1966, 1974, 1999, 1975, 1989, 1997, 1973, 2000, 1994, 1964, 1974, 1978, 1972, 1972, 1980, 1968, 1967, 1973, 1977, 1975, 1968, 1969, 1970, 1985, 1968, 2003, 1994, 1971, 1971, 1990, 1967, 1994, 1998, 1996, 1964, 1956, 1969, 1991, 1994, 1988, 1994, 1998, 1979, 1969, 1988, 1972, 1973, 2001, 1972, 1972, 1981, 1976, 1977, 1989, 1993, 1988, 1986, 1975, 1965, 1982, 1981, 1979, 1994, 2007, 1971, 1968, 1974, 1981, 1999, 1990, 1977, 1973, 1984, 1989, 1967, 1960, 2003, 1966, 1979, 1985, 2010, 1978, 1965, 1970, 1967, 1960, 1972, 1979, 2000, 1993, 1987, 1971, 1992, 1994, 1998, 1972, 1987, 1973, 2006, 1979, 1969, 1975, 1974, 1995, 1991, 1995, 1994, 1973, 2011, 1976, 1978, 1966, 2001, 1974, 1993, 1985, 1989, 2003, 1976, 1970, 2007, 1974, 2007, 1973, 1991, 1983, 1985, 1995, 1999, 1994, 1973, 1972, 1974, 1993, 1980, 1989, 1967, 1997, 1974, 1977, 1984, 1981, 1978, 1999, 1980, 1973, 1994, 1957, 1990, 1963, 2001, 2002, 1974, 1978, 2002, 1978, 1975, 2007, 2000, 1973, 1970, 1972, 1993, 2002, 2008, 1979, 1985, 1985, 1977, 1978, 1977, 1972, 1976, 1970, 1964, 1983, 1978, 1973, 2006, 1971, 1987, 1971, 1984, 1978, 2005, 1970, 1968, 1994, 1979, 1987, 1981, 1987, 1999, 2002, 1987, 1965, 1996, 1985, 1974, 1987, 1984, 2001, 1979, 1997, 1996, 2002, 1971, 1995, 2000, 1986, 1979, 1972, 1994, 1975, 1983, 1985, 1976, 1973, 1967, 1983, 2002, 2007, 1972, 1969, 2001, 1989, 1971, 1998]

In [27]:
valid_albums = [row for row in albums if (is_valid_year(row["Year"]))]
album_max = max(valid_albums, key = lambda x: x ["Year"])
print(album_max["Album"], album_max["Artist"], album_max["Year"])

The Smile Sessions The Beach Boys 2011

In [28]:
import pandas as pd

In [30]:
xls = pd.ExcelFile("C:/Users/Leydi/Documents/PSIG/Mod 2 Code & Data Files/yelp.xlsx")
df = xls.parse('yelp_data')

C:\ProgramData\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
len(df)

600

In [33]:
df.shape

(600, 8)

In [34]:
df.count()

name            600
category_0      600
category_1      600
take_out        600
review_count    600
stars           600
city_id         600
state_id        600
dtype: int64

In [35]:
df.columns

Index(['name', 'category_0', 'category_1', 'take_out', 'review_count', 'stars',
       'city_id', 'state_id'],
      dtype='object')

In [38]:
df.dtypes

name             object
category_0       object
category_1       object
take_out           bool
review_count      int64
stars           float64
city_id           int64
state_id          int64
dtype: object

In [39]:
df.describe()

       review_count       stars     city_id    state_id
count    600.000000  600.000000  600.000000  600.000000
mean      33.771667    3.495000    9.193333    1.500000
std       86.901895    0.955596    2.997933    0.500417
min        3.000000    1.000000    1.000000    1.000000
25%        5.000000    3.000000    8.000000    1.000000
50%       10.000000    3.500000   10.500000    1.500000
75%       25.250000    4.000000   12.000000    2.000000
max     1305.000000    5.000000   13.000000    2.000000

In [40]:
df.head()

,name,category_0,category_1,take_out,review_count,stars,city_id,state_id
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11,2.5,1,1
1,Discount Tire Center,Tires,Automotive,False,24,4.5,1,1
2,Frankfurters,Restaurants,Hot Dogs,True,3,4.5,1,1
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6,4.0,1,1
4,Kuhn's Market,Food,Grocery,False,8,3.5,1,1

In [41]:
df["name"]

0                           China Sea Chinese Restaurant
1                                   Discount Tire Center
2                                           Frankfurters
3                                      Fred Dietz Floral
4                                          Kuhn's Market
                             ...
595    Republic Services of Southern Nevada Recycling...
596                                         SA Recycling
597                                      Jack In the Box
598                                 Custom Hearth & Door
599                                     A Sunrise Towing
Name: name, Length: 600, dtype: object

In [42]:
atts = ["name", "city_id", "state_id"]
df[atts].head(10)

                           name  city_id  state_id
0  China Sea Chinese Restaurant        1         1
1          Discount Tire Center        1         1
2                  Frankfurters        1         1
3             Fred Dietz Floral        1         1
4                 Kuhn's Market        1         1
5                Lincoln Bakery        1         1
6              Luigi's Pizzeria        1         1
7    Mane Attractions Unlimited        1         1
8           R & B's Pizza Place        1         1
9                    Rusty Nail        1         1